{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 p-2 bg-primary text-white">{{ title }}</h2>
    <div class="mb-3">
        <a href="{% url 'messenger:group_create' %}" class="btn btn-primary">新規作成</a>
    </div>

    {% bootstrap_pagination page_obj %}
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>新規登録日時</th>
                <th>更新日時</th>
                <th>更新</th>
            </tr>
        </thead>
        <tbody>
            {% for o in object_list %}
            <tr>
                <td>{{o.id}}</td>
                <td>{{o.name}}</td>
                <td>{{o.created_at|date:'Y年m月j日H時i分s秒'}}</td>
                <td>{{o.modified_at|date:'Y年m月j日H時i分s秒'}}</td>
                <td><a href="{% url 'messenger:group_update' o.id %}">更新</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% bootstrap_pagination page_obj %}
</div>
{% endblock %}
