{% load account %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'messenger:dashboard' %}">メッセンジャーくん</a>
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% user_display user %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user:user_detail' user.pk %}">ユーザ情報</a></li>
            <li><a class="dropdown-item" href="{% url 'user:user_update' user.pk %}">ユーザ情報変更</a></li>
            <li><a class="dropdown-item" href="{% url 'account_change_password'%}">パスワード変更</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout'%}">ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
