{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title%}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1 class="h1 m-3 fw-normal text-center">{{title}}</h1>
        <table class="table">
            <tr>
                <th>ユーザ名</th>
                <td>{{ user.username|default:"(no data)" }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ user.email|default:"(no data)" }}</td>
            </tr>
            <tr>
                <th>姓</th>
                <td>{{ user.last_name|default:"(no data)" }}</td>
            </tr>
            <tr>
                <th>名</th>
                <td>{{ user.first_name|default:"(no data)" }}</td>
            </tr>
        </table>
        <a href="{% url 'user:user_update' user.pk%}" class="btn btn-primary">更新はこちらから</a>
    </div>
    <hr>
</div>
{% endblock %}
